<!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a robotics engineer excited about vehicle autonomy and adaptive manipulation. In twenty years I believe autonomous manufacturing will be critical for space exploration efforts, and want to work on the awesome technical challenges leading up to that, especially those which also have tremendous impact on the earth today.</p>
                </div>
                <div class="col-lg-4">
                    <p>Outside of engineering, I'm passionate about nature, education, and laughter. I run, ski, hike, and work with conservation efforts. I am a firm believer in life-long learning and constantly seek opportunities to further my own and help others. I also enjoy improv comedy as both performer and audience.</p>
                </div>
            </div>
        </div>
    </section>